@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    /*box-sizing: border-box;*/
    font-family: 'Outfit';
}
html{
    font-size: 20px;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
body.darkmode{
    background-color: #121212;
    color: white;
}
button{
    background-color: transparent;
    border: none;
}
a{
    font-size: large;
    text-decoration: none;
}
footer{
    background-color: rgb(226, 226, 226);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
}
footer.darkmode{
    background-color: #1f1b24;
}
#menu{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(226, 226, 226);
    padding: 5px;
}
#menu.darkmode{
    background-color: #1f1b24;
}
#menu.darkmode img{
    filter: invert(1);
}
.icon{
    width: 30px;
    height: 30px;
}
#switch{
    margin-left: auto;
}
main{
    flex: 1;
    margin-left: 1em;
    margin-right: 1em;
}
.darkmode a{
    color:rgb(201, 3, 201);
}
li{
    list-style-position: inside;
}
li>ul>li{
    margin-left: 30px;
}
#table{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
table, td, th{
    border: 1px solid black;
}
#table{
    border-radius: 0;
}
.darkmode table, .darkmode td, .darkmode th{
    border: white 1px solid;
}
figure{
    overflow: hidden;
}
fieldset{
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    flex-wrap: wrap; 
}
textarea{
    width: 100%;
}
form button{
    width: 100%;
    height: 2rem;
    border-radius: 10px;
    background-color: #551a8b;
    color: white;
    font-size: large;
    margin-top: 1rem;
}
form{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
textarea{
    height: 5rem;
}
@media (max-width: 768px){
    #dropdown{
        display: flex;
        flex-direction: column;
        background-color: rgb(226, 226, 226);
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease-in-out;
    }
    #dropdown.open{
        max-height: 200px;
    }
    #dropdown.darkmode{
        background-color: #1f1b24;
    }
    #dropdown.darkmode a{
        color: rgb(201, 3, 201);
    }
    #dropdown a{
        font-size: larger;
        margin-top: 5px;
    }
    .topImage{
        width: 100%;
    }
    figure{
        width: 100%;
    }
    .galleryImage{
        width: 100%;
        height: 350px;
        object-fit: cover;
        border-radius: 15px;
        margin-bottom: 5px;
    }
    .gallery{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 5px;
    }
    .hidden{
        visibility: hidden;
    }
    figcaption{
        text-align: center;
        position: relative;
        top: -225px;
        height: 0;
        width: 100%;
        font-size: larger;
    }
    .captionOn{
        filter: opacity(20%);
    }
    h2{
        text-decoration: underline;
        margin-bottom: 0.5rem;
    }
    #frydlant{
        object-position: 50% 15%;
    }
    .onlyDesktop{
        display: none;
    }
    
    
}

@media (min-width: 769px) {
    main{
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    .galleryImage{
        width: 100%;
        height: 50vh;
        object-fit: cover;
        margin-bottom: 5px;
        border-radius: 15px;
        object-position: 50% 50%;
    }
    figcaption{
        width: 100%;
        text-align: center;
        font-size: larger;
    }
    .onlyMobile{
        display: none;
    }
    #desktopMenu{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-left: auto;
        gap: 50px;
    }
    form{
        width: 30rem;
    }
    textarea{
        height: 10rem;
    }
}
@media (min-width: 1200px) {
    main{
        max-width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
    .gallery{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 5px;
    }
    .galleryImage{
        border-radius: 15px;
    }
    .standalone{
        width: 100%;
    }
    form{
        width: 40rem;
    }
    textarea{
        height: 15rem;
    }
}
