@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    /*box-sizing: border-box;*/
    font-family: 'Outfit';
}
html{
    font-size: 20px;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main{
    flex: 1;
    margin-left: 1em;
    margin-right: 1em;
}
button{
    background-color: transparent;
    border: none;
}
a{
    font-size: large;
    text-decoration: none;
}
footer{
    background-color: rgb(226, 226, 226);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
}
#dropdown{
    display: flex;
    flex-direction: column;
    background-color: rgb(226, 226, 226);
}
#dropdown.hidden{
    display: none;
}
#menu{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(226, 226, 226);
    padding: 5px;
}
.icon{
    width: 30px;
    height: 30px;
}
#hamburger{
    margin-left: auto;
}
.topImage{
    width: 100%;
}
.galleryImage{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 15px;
    margin-bottom: 5px;
}
.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.hidden{
    display: none;
}

figcaption{
    text-align: center;
    position: relative;
    top: -60%;
    height: 0px;
}
.captionOn{
    filter: blur(6px);
}
